<ui5-button (click)="openCreateDialog()">Add Quantity</ui5-button>

<app-dialog [isDialogOpen]="isCreateDialogOpen">
	<ui5-bar
		slot="header"
		design="Header">
		<ui5-title
			level="H5"
			slot="startContent"
			>{{ quantityPage }}</ui5-title
		>
		<ui5-label
			level="H5"
			slot="endContent"
			*ngIf="isClockedIn"
			class="font-semibold">
			<span i18n>User:</span>
			{{ loggedInUser?.name }}
		</ui5-label>
		<ui5-label
			level="H5"
			slot="endContent"
			*ngIf="!isClockedIn"
			class="text-red-300">
			<span i18n> No user clocked in. </span>
		</ui5-label>
	</ui5-bar>

	<div class="w-[1620px] h-[775px] grid grid-cols-8 grid-flow-col gap-x-3 ml-[-32px] mr-[-32px]">
		<ui5-card class="grid col-span-2 rounded-2xl border border-solid border-gray-300">
			<ui5-table>
				<ui5-table-column slot="columns">
					<ui5-title
						level="H5"
						i18n
						class="pt-2 pb-2"

						>Order</ui5-title
					>
				</ui5-table-column>
				<ui5-table-row>
					<ui5-table-cell>
						<span *ngFor="let order of OrderData; let i = index">
							<ui5-button
								class="mr-2"
								(click)="onClick(order.order_pos, $event)"
								>{{ order.order_pos }}</ui5-button
							>
						</span>
						<ui5-button
							icon="overflow"
							*ngIf="OrderData.length > 3"></ui5-button>
					</ui5-table-cell>
				</ui5-table-row>
			</ui5-table>

			<ui5-list>
				<div *ngFor="let item of itemOnOrderSelect">
					<div class="h-[38px] px-3 pt-4">
						<ui5-title level="H5">Items ID: {{ item.custom_id }}</ui5-title>
					</div>
					<div class="px-3 pb-2">
						<ui5-label
							class="mb-1"
							show-colon
							>Item Description</ui5-label
						><br />
						<ui5-input
							class="w-full h-9"
							[readonly]="true"
							[value]="item.name"></ui5-input>
					</div>
					<div class="px-3">
						<ui5-label show-colon>Items Image</ui5-label>
						<app-item-image
							height="174px"
							[headerTitle]=""
							[item]="item"
							[isCard]="true"
							[isSingleImage]="true"
							#operationDialog
							class="w-full h-full"></app-item-image>
					</div>
				</div>
			</ui5-list>
		</ui5-card>
		<ui5-card class="grid col-span-2 rounded-2xl border border-solid border-gray-300">
			<div class="packaging h-[50px] pl-4 flex items-center">
				<ui5-title level="H5">Add Parts</ui5-title>
				<ui5-button class="ml-2" (click)="showDefaultView()">Default_View</ui5-button>
				<ui5-button class="ml-2" (click)="showBatchView()">Batch_View</ui5-button>
				<ui5-button class="ml-2" (click)="showSerialView()">Serial_View</ui5-button>
			</div>
			<div *ngIf="isDefaultView">
				<div class="h-[92px] py-3 pl-4 pr-[2px]">
					<div class="h-[38px]">
						<ui5-title level="H5">Add Good Parts</ui5-title>
					</div>
					<div class="grid grid-flow-col grid-cols-3 h-11 items-center">
						<div class="grid col-span-1">
							<ui5-label show-colon>Add good parts</ui5-label>
						</div>
						<div class="grid col-span-2">
							<ui5-input
								id="good-part-amount"
								name="goodPartAmount"

								#goodPartAmountModel="ngModel"
								[min]="0"
								[(ngModel)]="goodPartAmount"
								[valueState]="
													validateGoodPartAmount() == false
														? 'Error'
														: 'None'
												">
							</ui5-input>
						</div>
					</div>
				</div>
	
				<div class="h-[92px] py-3 pl-4 pr-[2px]">
					<ui5-title
						class="mb-3"
						level="H5"
						i18n
						>Add Scrap Parts</ui5-title
					>
					<div
						class="grid grid-cols-3"
						*ngFor="let reason of badPartReasons; let i = index">
						<ui5-label class="items-center col-span-1">{{ reason.name }}:</ui5-label>
						<ui5-input
							id="scrap-part-amounts"
							class="col-span-2"
							[(ngModel)]="scrapPartAmounts[i]"
							[valueState]="
													validateScrapPartAmount(i) == false
														? 'Error'
														: 'None'
												"></ui5-input>
					</div>
				</div>
			</div>
			<div *ngIf="isSerialViewVisible">
				<div class="h-[92px] py-3 pl-4 pr-[2px]">
					<div class="grid grid-flow-col grid-cols-3 items-center">
						<div>
							<ui5-label show-colon>Serial Number</ui5-label>
						</div>
						<div>
							<ui5-input></ui5-input>
						</div>
					</div>
					<div class="mt-3 mb-3">
						<div class="h-[38px]">
							<ui5-title level="H5">Add Good Parts</ui5-title>
						</div>
						<div class="grid grid-flow-col grid-cols-3 h-11 items-center">
							<div class="grid col-span-1">
								<ui5-label show-colon>Add good parts</ui5-label>
							</div>
							<div class="grid col-span-2">
								<ui5-radio-button
									id="good-part-amount"
									name="myGroup"
									#goodPartAmountModel="ngModel"
									[(ngModel)]="goodPartAmount"
									>
								</ui5-radio-button>
							</div>
						</div>
					</div>
				</div>
	
				<div class="h-[92px] py-3 pl-4 pr-[2px] mt-6">
					<ui5-title
						class="mb-3"
						level="H5"
						i18n
						>Add Scrap Parts</ui5-title
					>
					<div
						class="grid grid-cols-3"
						*ngFor="let reason of badPartReasons; let i = index">
						<ui5-label class="items-center col-span-1">{{ reason.name }}:</ui5-label>
						<ui5-radio-button
							id="scrap-part-amounts"
							class="col-span-2"
							name="myGroup"
							[(ngModel)]="scrapPartAmounts[i]"
							></ui5-radio-button>
					</div>
				</div>
			</div>
			<div *ngIf="isBatchView">
				<div class="h-[92px] py-3 pl-4 pr-[2px]">
					<div class="grid grid-flow-col grid-cols-3 items-center">
						<div>
							<ui5-label show-colon>Batch Number</ui5-label>
						</div>
						<div>
							<ui5-input></ui5-input>
						</div>
					</div>
					<div class="mt-3 mb-3">
						<div class="h-[38px]">
							<ui5-title level="H5">Add Good Parts</ui5-title>
						</div>
						<div class="grid grid-flow-col grid-cols-3 h-11 items-center">
							<div class="grid col-span-1">
								<ui5-label show-colon>Add good parts</ui5-label>
							</div>
							<div class="grid col-span-2">
								<ui5-input
									id="good-part-amount"
									name="goodPartAmount"
									#goodPartAmountModel="ngModel"
									[min]="0"
									[(ngModel)]="goodPartAmount"
									[valueState]="
													validateGoodPartAmount() == false
														? 'Error'
														: 'None'
												">
								</ui5-input>
							</div>
						</div>
					</div>
				</div>
	
				<div class="h-[92px] py-3 pl-4 pr-[2px] mt-6">
					<ui5-title
						class="mb-3"
						level="H5"
						i18n
						>Add Scrap Parts</ui5-title
					>
					<div
						class="grid grid-cols-3"
						*ngFor="let reason of badPartReasons; let i = index">
						<ui5-label class="items-center col-span-1">{{ reason.name }}:</ui5-label>
						<ui5-input
							id="scrap-part-amounts"
							class="col-span-2"
							[(ngModel)]="scrapPartAmounts[i]"
							[valueState]="
													validateScrapPartAmount(i) == false
														? 'Error'
														: 'None'
												"></ui5-input>
					</div>
				</div>
			</div>
		</ui5-card>
		<ui5-card
			class="grid col-span-4 rounded-2xl border border-solid border-gray-300 overflow-hidden">
			<div class="h-[756px] records_table">
				<app-grid-table
					headerTitle="Quantity Recording"
					[data]="currentTableData"
					[customData]="true"
					[columns]="columns"
					i18n-headerTitle=""
					[showSearch]="false"
					[showDownload]="false"
					[showAction]="true"
					i18n-addButtonText
					button1Text="All"
					button2Text="Inactive"
					button3Text="Active"
					selectionMode="None"
					i18n-button1Text
					[useOdataStyles]="false"
					i18n-button2Text
					i18n-button3Text
					(deleteClick)="onDelete($event)"
					(editClick)="editClick($event)"
					[showNewButton]="false"
					[showActiveButton]="false"
					#childComponentRef>
				</app-grid-table>
			</div>
		</ui5-card>
	</div>

	<div
		slot="footer"
		class="dialog-footer">
		<ui5-button
			id="on-save"
			class="mr-1"
			design="Emphasized"
			(click)="onSave()"
			[disabled]="validateAllInputs() == false"
			>{{ button }}</ui5-button
		>
		<ui5-button
			class="ml-2"
			design="Transparent"
			(click)="closeCreateDialog()"
			i18n>
			Close
		</ui5-button>
	</div>
</app-dialog>

<ui5-dialog [open]="EditItems">
	<ui5-bar
		slot="header"
		design="Header">
		<ui5-title
			level="H5"
			slot="startContent"
			i18n
			>EditParts</ui5-title
		>
	</ui5-bar>

	<div>
		<div>
			<ui5-label
				show-colon
				i18n
				>Good Parts</ui5-label
			>
			<ui5-input [(ngModel)]="editedGoodPartAmount"></ui5-input>
		</div>
		<div>
			<ui5-label
				show-colon
				i18n
				>Scrap Parts</ui5-label
			>
			<ui5-input [(ngModel)]="editedScrapPartAmount"></ui5-input>
		</div>
	</div>

	<div
		slot="footer"
		class="dialog-footer">
		<ui5-button
			id="on-save"
			class="mr-1"
			design="Emphasized"
			(click)="saveEdit()"
			>Save</ui5-button
		>
		<ui5-button
			class="ml-2"
			design="Transparent"
			(click)="closeEditDialog()"
			i18n>
			Close
		</ui5-button>
	</div>
</ui5-dialog>
